.center {width:60%; margin:0 auto;}

header {background-color:#eee; position:fixed;
    top:0; left:0; z-index:9999; width:100%;
    transition:all 0.5s;}
header.on {background-color:#111;}
header .center {display:flex; flex-wrap:wrap;
    justify-content:space-between; align-items:center;}
header .logo {width:150px;}
header .logo img {width:100%;}
header .gnb {display:flex;}
header .gnb > li {padding:0 15px; font-size:15px;
    position:relative;}
header .gnb > li > a {display:block; line-height:93px;
    color:#111; transition:all 0.5s;}
header .gnb > li > a:hover {color:#c90000;;}
header.on .gnb > li > a {color:#fff;}
header .depth2 {position:absolute; z-index:999; width:120px;
    left:50%; transform: translateX(-50%); padding:10px;
    background-color:rgba(255,255,255,0.5); display:none;}
header.on .depth2 {background-color:rgba(0,0,0,0.5); }
header .depth2 li a {color:#fff; display:block; text-align:center;
    line-height:30px; font-size:14px;
    transition: all 0.5s; border-radius:30px; margin:5px 0;}
header.on .depth2 li a {color:#fff}
header .depth2 li a:hover {background-color:rgba(201,0,0,0.5);}
header .h-btn {display:block; background-color:#C90000;
    width:162px; line-height:43px; text-align:center;
    border-radius:30px; font-size:14px; color:#fff; transition:all 0.5s;}
header .h-btn:hover {background-color:#333;}
.m-btn {display:none;}

#container {padding-top:92.4px;}
.cont1 .cover {width:100%; position:relative; overflow:hidden;}
.cont1 .view {width:500%; display:flex; height:90vh;
    transition: all 1s;}
.cont1 .view > div {width:100%; position:relative; background-size:cover;
    background-repeat:no-repeat; background-position:center;}
.cont1 .view > div:nth-child(1) {background-image: url(../img/bg/bg02.jpg);}
.cont1 .view > div:nth-child(2) {background-image: url(../img/bg/bg01.jpg);}
.cont1 .view > div:nth-child(3) {background-image: url(../img/bg/bg00.gif);
    background-size:50%; background-position:center top;
    background-color: #F3EBD3;}
.cont1 .view > div:nth-child(4) {background-image: url(../img/bg/bg03.jpg);
    background-position:center top;}
.cont1 .view > div:nth-child(5) {background-image: url(../img/bg/bg04.jpg);}

.cont1 .circle {display:flex; left:50%; bottom:15px;
    position:absolute; transform:translateX(-50%);}
.cont1 .circle li {width:10px; height:10px; margin:0 5px; border-radius:50%;
    background-color:#fff; cursor: pointer;}
.cont1 .circle li.on {background-color:#C90000;}
.cont1 .spBtn {position: absolute; right:15px; bottom:11px;}
.cont1 .spBtn button { font-size:15px; background-color: transparent;
    border:none; color:#fff; display: none; cursor: pointer;}
.cont1 .spBtn button:nth-child(1) {display:block;}

.cont1 .text {width:50%; position:absolute; left:50%; transform:translateX(-50%);
    font-weight: 700;}
.cont1 .text h2 {font-size:24px; padding:0 0 15px; font-weight:400;}
.cont1 .text p {font-size:12px; padding-bottom:40px; line-height: 1.5;}
.cont1 .text a {display:block; width:162px; line-height:43px; text-align:center;
    border-radius:30px; color:#fff; background-color:#C90000; transition:all 0.5s;}
.cont1 .text a:hover {background-color: #222;}

.cont1 .box1 .text {top:50%; transform:translate(-50%,-50%); color:#fff;
    text-align:center;}
.cont1 .box1 .text a {margin:0 auto;}
.cont1 .box3 .text {bottom:10%; color:#333;}
.cont1 .cover .leftBtn,
.cont1 .cover .rightBtn {position:absolute; top:50%; transform:translateY(-50%);
    background-color: transparent; border: none; cursor: pointer;
    font-size:50px; color:#fff}
.cont1 .cover .leftBtn {left:20px}
.cont1 .cover .rightBtn {right:20px}


.cont2 {background-color:#2a2a2a;}
.cont2 .text {width:50%; text-align:center; margin:0 auto;}
.cont2 .text h2 {font-size:22px; padding:60px 0 35px; color:#aaa;
    font-weight:400;}
.cont2 .text p {font-size:14px; margin-bottom:55px; color:#777;
    line-height:1.5;}
.cont2 .content {display:flex; flex-wrap:wrap; padding-bottom:55px;}
.cont2 .content .list {width:32.333333%; margin-right:1.5%; transition:all 0.5s;
    text-align: center;}
.cont2 .content .list:last-child {margin-right:0;}
.cont2 .content .list .circle {position:relative; background-color:#ccc;
    width:72px; height:72px; border-radius:50%;
    transition:all 0.5s; margin:0 auto 30px}
.cont2 .content .list:hover .circle {transform: rotateY(180deg); background-color:#666;}
.cont2 .content .list:hover i {color:#fff}
.cont2 .content .list i {font-size:35px; color:#444;
    position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.cont2 .content .list h3 {font-size:15px; padding:10px 0 20px; font-weight:400;
    color:#fff;}
.cont2 .content .list p {font-size:12px; line-height:1.5; color:#9e9e9e;}


.cont3 {background-color:#222;}
.cont3 .text {width:50%; text-align:center; margin:0 auto;}
.cont3 .text h2 {font-size:22px; padding:60px 0 35px; color:#aaa;
    font-weight:400;}
.cont3 .text p {font-size:14px; margin-bottom:55px; color:#777;
    line-height:1.5;}
.cont3 .content {display:flex; flex-wrap:wrap;}
.cont3 .list {width:23.5%; margin-right:2%; margin-bottom:25px;
    overflow:hidden;}
.cont3 .list .box {position:relative;}
.cont3 .list .box::after {content:""; display:block; position:absolute;
    top:0; left:0; width:100%; height:100%; opacity:0; border-radius:10px;
    background: rgb(201,0,0); transition:all 0.5s;
    background: linear-gradient(45deg, rgba(201,0,0,1) 0%, rgba(34,34,34,1) 100%);}
.cont3 .list:hover .box::after {opacity:0.5;}
.cont3 .list:last-child {margin-right:0;}
.cont3 .list .img {overflow:hidden; border-radius:10px;}
.cont3 .list img {width:100%; transition:all 0.5s;}
.cont3 .list:hover img {transform:scale(1.05);}
.cont3 .list .txt {position:absolute; bottom:20%; left:20px; z-index:10;
    opacity:0; transition:all 0.5s;}
.cont3 .list .txt p {font-size:15px; color:#fff; line-height:1.5;
    margin-bottom:10px; font-weight:700;}
.cont3 .list:hover .txt {opacity:1;}
.cont3 .list .txt h3 {display:none;}
.cont3 .list .top-menu {position:absolute; top:20px; left:0; display:flex;
    justify-content:space-between; width:100%; line-height:30px; text-align:center;
    font-size:12px; color:#fff; z-index:10;}
.cont3 .list .top-menu .day {background-color:#C90000; width:60px;
    border-radius:0 30px 30px 0; transition:all 0.5s; left:-60px; position:relative;}
.cont3 .list:hover .top-menu .day {left:0}
.cont3 .list .top-menu .star {width:60px; color:#fff}
.cont3 .list .top-menu .star i {color:#C90000;}
.cont3 .list .bot-menu {position:absolute; bottom:20px; left:0; display:flex;
    justify-content:space-between; width:100%; line-height:30px; text-align:center;
    font-size:12px; color:#fff; z-index:10;}
.cont3 .list .bot-menu a {color:#fff; background-color:#222;
    display:block; width:60px; transition:all 0.5s;}
.cont3 .list .bot-menu a:hover {background-color: #C90000;}
.cont3 .list .bot-menu .detail {border-radius:0 30px 30px 0;}
.cont3 .list .bot-menu .view {border-radius:30px 0 0 30px; position:relative;
    right:-60px; transition:all 0.5s ;}
.cont3 .list:hover .bot-menu .view {right:0}
.cont3 .list .play {position:absolute; top:-50px; left:50%;
    transform:translate(-50%,-50%); z-index:10; transition:all 0.5s;}
.cont3 .list:hover .play {top:40%}
.cont3 .list .play i {font-size:50px; color:#fff; transition:all 1s;}
.cont3 .list .play:hover i {color:#C90000;}



.cont4 {background-color:#2a2a2a;}
.cont4 .text {width:50%; text-align:center; margin:0 auto;}
.cont4 .text h2 {font-size:22px; padding:60px 0 35px; color:#aaa;
    font-weight:400;}
.cont4 .text p {font-size:14px; margin-bottom:55px; color:#777;
    line-height:1.5;}
.cont4 .btn4 {display:flex; width:100%;}
.cont4 .btn4 li {width:25%; text-align:center; line-height:50px;
    background-color:#000; color:#fff; cursor: pointer;}
.cont4 .btn4 li.btnOn {background-color: #C90000;}
.cont4 .contentList > div{display:none; flex-wrap:wrap; padding:55px 0;}
.cont4 .contentList > div:nth-child(1) {display:flex;}
.cont4 .contentList .list {width:32%; margin-right:2%; transition:all 0.5s;
    text-align: center; background-color:#eee; padding:15px;
    text-align: left;}
.cont4 .contentList .list:last-child {margin-right:0;}
.cont4 .contentList .list img {width:100%}
.cont4 .contentList .list:hover {transform:scale(1.03); box-shadow: 0 5px 5px #000;}
.cont4 .contentList .list h3 {font-size:15px; padding:20px 0 10px; font-weight:400;
    color:#222;}
.cont4 .contentList .list span {display:block; margin-bottom:10px; color:#aaa}
.cont4 .contentList .list p {font-size:12px; line-height:1.5; color:#888;}


#m-gnb {width:60%; position:fixed; top:0; left:-60%; height:100%;
    background-color:#333; z-index:9999; transition:all 1s;}
#m-gnb .m-top {display:flex; justify-content:space-between;
    align-items:center; width:90%; margin:0 auto;}
#m-gnb .m-top .m-logo {width:100px;}
#m-gnb .m-top .m-logo img {width:100%}
#m-gnb .m-top .close i {font-size:30px; line-height:60px; color:#fff;
    transition:all 0.5s;}
#m-gnb .m-top .close:hover i {color:#C90000}
#m-gnb .m-gnb { width:90%; position:absolute; top:100px; left:50%;
    transform:translateX(-50%);}
#m-gnb .m-gnb > li {border-bottom:1px solid #555;
    font-weight:700; height:50px; overflow:hidden;
    transition:all 0.5s;}
#m-gnb .m-gnb > li.on {height:251px;}
#m-gnb .m-gnb > li:last-child {border-bottom:none;}
#m-gnb .m-gnb > li > a {display:flex; justify-content:space-between;
    align-items:center; color:#fff; line-height:50px;
    transition: all 0.5s;}
#m-gnb .m-gnb > li:hover > a > p {color:#C90000;}
#m-gnb .m-gnb > li p {padding-left:10px;}
#m-gnb .m-gnb > li .icon {position:relative;}
#m-gnb .m-gnb > li .icon i {position:absolute; right:10px;}
#m-gnb .m-gnb > li .icon .fa-angle-down {display:none;}
.m-gnb .depth2 li a {display:flex; justify-content:space-between;
    align-items:center; color:#fff; line-height:50px;
    transition: all 0.5s; font-weight:400; padding-left:20px;}
.m-gnb .depth2 li:hover a {color:#C90000}

#m-gnb .m-search {width:90%; border-radius:10px;
    overflow:hidden;  position:absolute; bottom:100px; left:50%;
    transform:translateX(-50%);}
#m-gnb .m-search .search {width:100%; height:40px; border:1px solid #444;
    padding-left:10px;}
#m-gnb .m-search .search_btn {position:absolute; right:10px; top:50%;
    transform:translateY(-50%); border:none; background-color:transparent;}
#m-gnb .m-search .search_btn i {font-size:20px; cursor: pointer;}
#m-gnb .m-sns {width:60%; position: absolute; bottom:40px; left:50%;
    transform:translateX(-50%); display:flex; justify-content:space-between;}
#m-gnb .m-sns i {font-size:20px; color:#fff; transition: all 0.5s;}
#m-gnb .m-sns li:hover i {color:#C90000}


footer {background-color:#111;}
footer .center {display:flex; justify-content:space-between; flex-wrap:wrap; }
footer .snslogo {padding:50px 0 60px;}
footer .f-logo {margin-bottom:52px; width:100px;}
footer .f-logo img {width:100%;}
footer .sns {display:flex;}
footer .sns li {margin-right:12px;}
footer .sns li a {font-size:20px; color:#a6a6a6; transition:all 0.5s;}
footer .sns li:hover a {color:#C90000}
footer .f-gnb {color:#fff; margin:53px 0 50px;}
footer .f-gnb li {margin-bottom:20px; font-size:14px;}
footer .f-gnb li:hover a {background-color:#C90000}
footer .f-gnb li a {color:#fff; transition:all 0.5s; border-radius:20px;
    display: block; width:110px; line-height:30px; padding:0 10px}
footer .copyright {color:#fff; margin:37px 0 63px;}
footer .copyright a {display:block; color:#fff; text-align:center;
    width:162px; line-height:43px; background-color:#C90000;
    border-radius:50px; font-size:14px; margin-bottom:43px; transition:all 0.5s;}
footer .copyright a:hover {background-color:#222;}
footer .copyright p {font-size:14px;}


.scroll_ani {width:50px; height:50px; line-height:50px;
    border-radius:50%; background-color:#fff;
    position:fixed; right:30px; bottom:30px;
    z-index:999; transition:all 0.5s; display:none;}
.scroll_ani i {font-size:30px; position:absolute;
    transform:translate(-50%,-50%); top:50%; left:50%;}



@media screen and (max-width:1200px) {
    .center {width:95%;}

    .cont3 .content {padding-bottom:50px;}
    .cont3 .list {width:48%; margin-right:1%; margin-left:1%;
        padding-bottom:25px; overflow:hidden;}
    .cont3 .list:last-child {margin-right:1%;}
    .cont3 .list .txt {bottom:10%; width:90%}
    .cont3 .list .txt p {font-size:20px;}
    .cont3 .list .txt h3 {font-size:16px; color:#ddd; margin-bottom:15px;
        font-weight:400; line-height: 1.5; display:block;}
}


@media screen and (max-width:840px) {
    .center {width:94%;}
    header .logo {width:120px;}
    header .gnb {display:none;}
    header .h-btn {margin:25px 0;}
    
    .cont1 .view {height:60vh;}
    .cont1 .text {bottom:15%;}


    footer .snslogo {padding:50px 0; width:50%}
    footer .f-logo {margin-bottom:30px}
    footer .f-gnb {margin:0; width:50%;}
    footer .f-gnb:nth-child(2) {margin:52px 0 43px;}
    footer .f-gnb:nth-child(3) {padding:20px 0 65px;}
    footer .f-gnb li:nth-child(3){margin-bottom:0;}
    footer .copyright {margin:0; width:50%;}
}

@media screen and (max-width:768px) {
    header .h-btn {display:none;}
    .m-btn {display:block;}
    .m-btn i {font-size:30px; color:#111; line-height:73px;
        transition:all 0.5s;}
    header.on .m-btn i {color:#fff}
    .m-btn:hover i {color:#C90000}

    #container {padding-top:72.8px}
    .cont1 .text {width:90%; text-align:center; margin:0 auto;}
    .cont1 a {margin:0 auto; }

    .cont2 .text {width:90%;}
    .cont2 .content {padding-bottom:55px;}
    .cont2 .content .list {width:90%; text-align:center; margin:0 auto 50px}
    .cont2 .content .list:last-child {margin:0 auto}
    .cont2 .content .list .circle {margin:0 auto}

    .cont3 .content {padding-bottom:10px;}
    .cont3 .text {width:90%; margin:0 auto; text-align:center;}
    .cont3 .list {padding-bottom:0;}

    .cont4 .contentList .list {width:90%; margin:0 auto 30px;}
    .cont4 .contentList .list:last-child {margin:0 auto 30px;}
}

@media screen and (max-width:600px) {
    .cont1 .view {height:50vh;}
    .cont1 p {padding-bottom:20px;}

    .cont3 .content {padding-bottom:50px;}
    .cont3 .list {width:90%; margin:0 auto; margin-bottom:25px;}

    .cont3 .list:last-child {margin:0 auto;}

    footer .snslogo {padding:50px 0; width:100%}
    footer .f-logo {margin-bottom:30px}
    footer .f-gnb {margin:0; width:100%;}
    footer .f-gnb:nth-child(2) {margin:52px 0 43px;}
    footer .f-gnb:nth-child(3) {padding:20px 0 65px;}
    footer .f-gnb li:nth-child(3){margin-bottom:0;}
    footer .copyright {margin:0; width:100%; padding-bottom:52px;}
}